@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars for Webkit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbars for Internet Explorer and Edge */
* {
  -ms-overflow-style: none;
}
